* {
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: 400;
    margin: 0;
    text-align: center;
    box-sizing: border-box;
}

hr {
    margin: 3rem 0rem;
}

.title {
    font-family: "PT Serif", sans-serif;
    margin: 0;
    font-weight: 500;
    font-size: 4.25rem;
    color: white;
}

.subtitle {
    font-style: italic;
    font-size: 1.5rem;
    color: white;
    margin-top: 1rem;
}

.header {
    margin: 0;
    padding: 2rem 3rem 4rem 3rem;
    background-color: #132043;
}

.footer {
    margin: 0;
    padding: 0;
    background-color: #132043;
}

.intro-text {
    margin-top: 2.5rem;
    text-align: justify;
    font-weight: 500;
    font-size: 1.4rem;
    color: #132043;
}

.text-highlight {
    inherits: true;
    font-size: 1.7rem;
    font-weight: 800;
}

.intro {
    margin: 3rem 14rem;
}

.chart {
    margin: 3.5rem 12rem;
    align-items: center;
}

.chart-title {
    font-family: "PT Serif", sans-serif;
    font-size: 2.4rem;
    font-weight: 500;
    color: #4C4C6D;
}

.chart-text-div {
    margin: 2rem 0;
    color: #4C4C6D;
}

.chart-text {
    text-align: justify;
    font-size: 1.4rem;
    padding-top: 0.75rem;
    line-height: 2.3rem;
}


.chart-subtitle {
    text-align: center;
    padding-top: 1.5rem;
    font-size: 1.4rem;
}

.chart-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 3rem;
}

.chart-table th,
.chart-table td {
    border: 1px solid #132043;
    padding: 1.3rem;
    text-align: left;
    font-size: 1.2rem;
}

.chart-table th {
    background-color: #132043;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    opacity: 0.8;
    padding: 0.7rem;
}

.chart-table ul {
    margin: 0;
    padding-left: 2;
    text-align: left;
    /* list-style-type: none; */
}

.chart-table li {
    text-align: left;
    padding-top: 0.6rem;
}


.fig-caption {
    font-style: italic;
    color: grey;
}

#choropleth_map {
    margin-bottom: 1.5rem;
}

#polar_chart {
    margin-top: 2.8rem;
    margin-bottom: 2rem;
}

#bump_chart {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#line_chart {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#bubble_chart {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#alluvial_chart {
    margin-top: 2rem;
    margin-bottom: 1rem;
}
